# Armar dataset clima + producción

Anteriormente se obtuvieron los datos de clima de cada departamento de chubut, de la existencias ovinas y de la produccion de lana. Ahora vamos a combinar todo para poder empezar a entrenar a los modelos.

In [1]:
import pandas as pd

In [2]:
produccion_chubut = pd.read_csv('datos_producidos/produccion_chubut_2000_2020.csv', sep=",")
produccion_chubut

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos,kg_lana,finura,rinde
0,2000-01-01,CHUBUT,BIEDMA,4627,88905,31529,41328,22410,188799,793900.0,20.39,59.21
1,2000-01-01,CHUBUT,CUSHAMEN,5483,112188,32417,25337,34665,210089,892500.0,19.10,61.65
2,2000-01-01,CHUBUT,ESCALANTE,5115,99373,30290,39530,36183,210491,1086300.0,21.90,49.99
3,2000-01-01,CHUBUT,FLORENTINO AMEGHINO,11162,146253,58737,45221,40304,301677,1463700.0,19.61,60.32
4,2000-01-01,CHUBUT,FUTALEUFU,4342,69056,20947,14924,18069,127339,557600.0,20.57,63.37
...,...,...,...,...,...,...,...,...,...,...,...,...
331,2020-01-01,CHUBUT,RIO SENGUERR,15609,360905,146961,123560,112227,759262,2311200.0,20.28,57.70
332,2020-01-01,CHUBUT,SARMIENTO,3681,99173,27021,32939,20498,183312,851850.0,19.37,48.32
333,2020-01-01,CHUBUT,TEHUELCHES,8071,197382,87268,86893,54493,434107,1903500.0,20.02,61.85
334,2020-01-01,CHUBUT,TELSEN,2870,79157,25804,36901,18984,163716,614250.0,21.55,52.96
335,2020-01-01,CHUBUT,TOTAL,79860,1992008,669777,666432,576856,3984933,13500000.0,20.36,56.57

In [8]:
clima_chubut = pd.read_csv('datos_producidos/clima_chubut.csv', sep=",")
clima_chubut

,departamento,anio,PROMEDIO_HUMEDAD,TOTAL_LLUVIA,PROMEDIO_T_MAX,PROMEDIO_T_MED,PROMEDIO_T_MIN
0,BIEDMA,2012-01-01,58.40,46.4,18.10,12.40,6.70
1,BIEDMA,2013-01-01,64.70,226.5,19.90,14.20,8.80
2,BIEDMA,2014-01-01,60.50,331.3,20.60,14.70,9.20
3,BIEDMA,2015-01-01,58.70,114.2,22.20,15.80,10.20
4,BIEDMA,2016-01-01,57.50,88.9,25.20,18.60,12.90
...,...,...,...,...,...,...,...
204,TELSEN,2018-01-01,47.93,604.2,17.63,11.33,5.03
205,TELSEN,2019-01-01,47.57,358.4,17.53,11.17,4.83
206,TELSEN,2020-01-01,46.63,304.4,16.60,10.60,4.63
207,TELSEN,2021-01-01,47.03,608.9,18.97,12.37,5.90
208,TELSEN,2022-01-01,37.15,58.7,28.50,20.90,13.05

In [9]:
merged_inner = pd.merge(left=produccion_chubut,right=clima_chubut)
merged_inner

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos,kg_lana,finura,rinde,PROMEDIO_HUMEDAD,TOTAL_LLUVIA,PROMEDIO_T_MAX,PROMEDIO_T_MED,PROMEDIO_T_MIN
0,2000-01-01,CHUBUT,RAWSON,2355,57320,20632,24405,18609,123321,258400.0,17.66,61.53,42.10,212.6,23.00,14.10,5.50
1,2001-01-01,CHUBUT,RAWSON,2226,54176,19500,23067,17588,116557,258400.0,18.15,60.74,21.90,188.1,20.60,13.40,6.10
2,2002-01-01,CHUBUT,RAWSON,1584,38558,13879,16417,12518,82956,256880.0,19.99,60.19,56.50,218.0,19.60,12.80,6.50
3,2003-01-01,CHUBUT,RAWSON,2252,54793,19722,23330,17789,117886,323760.0,20.90,59.90,55.80,161.0,22.30,12.30,3.80
4,2004-01-01,CHUBUT,RAWSON,2463,59959,21582,25529,19466,128999,332880.0,19.02,60.91,58.30,143.9,22.50,12.90,4.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,2020-01-01,CHUBUT,RAWSON,2273,74096,18058,19267,22102,135796,205200.0,19.57,61.66,54.50,92.0,22.10,14.40,6.70
161,2020-01-01,CHUBUT,RIO SENGUERR,15609,360905,146961,123560,112227,759262,2311200.0,20.28,57.70,61.65,298.8,16.75,9.85,3.50
162,2020-01-01,CHUBUT,SARMIENTO,3681,99173,27021,32939,20498,183312,851850.0,19.37,48.32,42.90,21.6,17.90,12.10,6.70
163,2020-01-01,CHUBUT,TEHUELCHES,8071,197382,87268,86893,54493,434107,1903500.0,20.02,61.85,39.80,414.0,11.85,6.60,1.60
164,2020-01-01,CHUBUT,TELSEN,2870,79157,25804,36901,18984,163716,614250.0,21.55,52.96,46.63,304.4,16.60,10.60,4.63

In [10]:
merged_inner.to_csv('datos_producidos/merged_inner.csv', index=False)

In [11]:
merged_left_join = pd.merge(left=produccion_chubut,right=clima_chubut,how='left')
merged_left_join

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos,kg_lana,finura,rinde,PROMEDIO_HUMEDAD,TOTAL_LLUVIA,PROMEDIO_T_MAX,PROMEDIO_T_MED,PROMEDIO_T_MIN
0,2000-01-01,CHUBUT,BIEDMA,4627,88905,31529,41328,22410,188799,793900.0,20.39,59.21,NaN,NaN,NaN,NaN,NaN
1,2000-01-01,CHUBUT,CUSHAMEN,5483,112188,32417,25337,34665,210089,892500.0,19.10,61.65,NaN,NaN,NaN,NaN,NaN
2,2000-01-01,CHUBUT,ESCALANTE,5115,99373,30290,39530,36183,210491,1086300.0,21.90,49.99,NaN,NaN,NaN,NaN,NaN
3,2000-01-01,CHUBUT,FLORENTINO AMEGHINO,11162,146253,58737,45221,40304,301677,1463700.0,19.61,60.32,NaN,NaN,NaN,NaN,NaN
4,2000-01-01,CHUBUT,FUTALEUFU,4342,69056,20947,14924,18069,127339,557600.0,20.57,63.37,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,2020-01-01,CHUBUT,RIO SENGUERR,15609,360905,146961,123560,112227,759262,2311200.0,20.28,57.70,61.65,298.8,16.75,9.85,3.50
332,2020-01-01,CHUBUT,SARMIENTO,3681,99173,27021,32939,20498,183312,851850.0,19.37,48.32,42.90,21.6,17.90,12.10,6.70
333,2020-01-01,CHUBUT,TEHUELCHES,8071,197382,87268,86893,54493,434107,1903500.0,20.02,61.85,39.80,414.0,11.85,6.60,1.60
334,2020-01-01,CHUBUT,TELSEN,2870,79157,25804,36901,18984,163716,614250.0,21.55,52.96,46.63,304.4,16.60,10.60,4.63
335,2020-01-01,CHUBUT,TOTAL,79860,1992008,669777,666432,576856,3984933,13500000.0,20.36,56.57,NaN,NaN,NaN,NaN,NaN

In [15]:
merged_left_join.to_csv('datos_producidos/merged_left_join.csv', index=False)

In [13]:
merged_full_join = pd.merge(left=produccion_chubut,right=clima_chubut,how='outer')
merged_full_join

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos,kg_lana,finura,rinde,PROMEDIO_HUMEDAD,TOTAL_LLUVIA,PROMEDIO_T_MAX,PROMEDIO_T_MED,PROMEDIO_T_MIN
0,2000-01-01,CHUBUT,BIEDMA,4627.0,88905.0,31529.0,41328.0,22410.0,188799.0,793900.0,20.39,59.21,NaN,NaN,NaN,NaN,NaN
1,2000-01-01,CHUBUT,CUSHAMEN,5483.0,112188.0,32417.0,25337.0,34665.0,210089.0,892500.0,19.10,61.65,NaN,NaN,NaN,NaN,NaN
2,2000-01-01,CHUBUT,ESCALANTE,5115.0,99373.0,30290.0,39530.0,36183.0,210491.0,1086300.0,21.90,49.99,NaN,NaN,NaN,NaN,NaN
3,2000-01-01,CHUBUT,FLORENTINO AMEGHINO,11162.0,146253.0,58737.0,45221.0,40304.0,301677.0,1463700.0,19.61,60.32,NaN,NaN,NaN,NaN,NaN
4,2000-01-01,CHUBUT,FUTALEUFU,4342.0,69056.0,20947.0,14924.0,18069.0,127339.0,557600.0,20.57,63.37,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2022-01-01,NaN,SARMIENTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.00,16.0,23.90,16.35,9.60
376,2021-01-01,NaN,TEHUELCHES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.10,334.6,14.75,8.30,2.00
377,2022-01-01,NaN,TEHUELCHES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.10,85.4,21.30,14.15,6.85
378,2021-01-01,NaN,TELSEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.03,608.9,18.97,12.37,5.90
379,2022-01-01,NaN,TELSEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.15,58.7,28.50,20.90,13.05

In [16]:
merged_full_join.to_csv('datos_producidos/merged_full_join.csv', index=False)