Los datos se obtuvieron de los scrapers que se corrieron en la página del SIPAS. Se obtuvieron 5 dataset: humedad, lluvia, temperatura mínima, temperatura media, y temperatura máxima. En cada uno de ellos se eliminaron las sondas que no eran de Chubut (unas 7 creo) y a cada sonda se le asignó el departamento al que pertenecía manualmente.

# Armar dataset de clima por departamento

Importamos las librerías necesarias.

In [1]:
import pandas as pd

Cargamos el dataset de humedad, lo agrupamos por dpto y año

In [2]:
datos_humedad = pd.read_csv('datos_sipas/Agrupado_por_dptos/humedad_estaciones.csv', sep=",")
datos_humedad

,Estación,Departamento,Año,ENE,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEP,OCT,NOV,DIC,PROMEDIO_HUMEDAD
0,Estancia La Adela - Península Valdés,BIEDMA,2012,,,,,,65.5,58.9,69.5,59.2,60.4,47.1,48,58.4
1,Estancia La Adela - Península Valdés,BIEDMA,2013,53.6,59.7,70,73.9,69.2,66.5,76.1,69.1,74.4,63.6,52.5,45.7,64.7
2,Estancia La Adela - Península Valdés,BIEDMA,2014,44.7,53.8,58,70.3,72.8,74,74.2,66,65,64.3,51.5,47,60.5
3,Estancia La Adela - Península Valdés,BIEDMA,2015,50.6,57.6,57.1,64.8,,60,,,66.5,64.5,,50.6,58.7
4,Estancia La Adela - Península Valdés,BIEDMA,2016,60.5,59.7,64.2,54.7,,,,,,,,48.7,57.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,Telsen,TELSEN,2010,29.5,37.5,47,45.3,44.9,56.7,57.4,41.2,41.8,40.1,35.9,30.4,42.3
358,Telsen,TELSEN,2011,31.4,36.6,39.4,43.2,44.9,51.1,51.9,51.8,39.3,47.7,33.1,29.9,41.7
359,Telsen,TELSEN,2012,36.6,44.1,50.6,45.4,45.7,54.6,46,47.9,42.1,39.1,31.2,38.7,43.5
360,Telsen,TELSEN,2013,40.3,43.9,49.4,53.2,57.2,52.1,59.5,52.3,54,42.4,34.5,28.7,47.3
361,Telsen,TELSEN,2014,30,36.6,37.9,,,,,,,,,,34.8

In [3]:
datos_humedad_agrupados = datos_humedad.groupby(by=['Departamento','Año']).mean().round(2)
datos_humedad_agrupados

                   PROMEDIO_HUMEDAD
Departamento Año
BIEDMA       2012             58.40
             2013             64.70
             2014             60.50
             2015             58.70
             2016             57.50
...                             ...
TELSEN       2018             47.93
             2019             47.57
             2020             46.63
             2021             47.03
             2022             37.15

[211 rows x 1 columns]

Cargamos el dataset de lluvia, lo agrupamos por dpto y año

In [4]:
datos_lluvia = pd.read_csv('datos_sipas/Agrupado_por_dptos/lluvia_estaciones.csv', sep=",")
datos_lluvia

,Estación,Departamento,Año,ENE,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEP,OCT,NOV,DIC,TOTAL_LLUVIA
0,Estancia La Adela - Península Valdés,BIEDMA,2012,,,,,,16,5.4,1.2,2.3,9.1,0.6,11.8,46.4
1,Estancia La Adela - Península Valdés,BIEDMA,2013,14,13.8,60.2,16.2,21.4,13,23.6,28.1,9,21.9,3.5,1.8,226.5
2,Estancia La Adela - Península Valdés,BIEDMA,2014,12.7,4.2,22.1,133,25.6,2.1,19.2,26.3,38.7,27.1,10,10.3,331.3
3,Estancia La Adela - Península Valdés,BIEDMA,2015,23,19.4,10.5,6.2,,6.6,,,4.3,14.3,,29.9,114.2
4,Estancia La Adela - Península Valdés,BIEDMA,2016,43.3,8,5.7,13.2,,,,,,,,18.7,88.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,Telsen,TELSEN,2010,10,11.6,11.4,6.8,2.6,9,18.4,NaN,20.7,8.4,2.5,5.9,107.3
508,Telsen,TELSEN,2011,0.8,17.4,10.3,3.3,5.3,6.5,5.5,10.9,17.9,30.2,1.1,0.3,109.5
509,Telsen,TELSEN,2012,24.3,31.9,25.5,2.4,0.5,20.4,3.2,14.9,5.1,23.3,5.5,33,190.0
510,Telsen,TELSEN,2013,12.4,36.7,28.4,26.5,8.4,6.4,36.3,10.7,20.8,17.4,5.1,NaN,209.1
511,Telsen,TELSEN,2014,6.1,3.8,4.1,,,,,,,,,,14.0

In [5]:
datos_lluvia_agrupados = datos_lluvia.groupby(by=['Departamento','Año']).sum().round(2)
datos_lluvia_agrupados

                   TOTAL_LLUVIA
Departamento Año
BIEDMA       2012          46.4
             2013         226.5
             2014         331.3
             2015         114.2
             2016          88.9
...                         ...
TELSEN       2018         604.2
             2019         358.4
             2020         304.4
             2021         608.9
             2022          58.7

[250 rows x 1 columns]

Cargamos el dataset de temperatura máxima, lo agrupamos por dpto y año

In [6]:
datos_tem_max = pd.read_csv('datos_sipas/Agrupado_por_dptos/temperatura_maxima_estaciones.csv', sep=",")
datos_tem_max

,Estación,Departamento,Año,ENE,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEP,OCT,NOV,DIC,PROMEDIO_T_MAX
0,Estancia La Adela - Península Valdés,BIEDMA,2012,,,,,,13.2,12,14.9,17.6,20,24,24.9,18.1
1,Estancia La Adela - Península Valdés,BIEDMA,2013,28.8,26.1,20.7,21.3,16.7,14.4,12,13,14.6,19.8,24.5,28.1,19.9
2,Estancia La Adela - Península Valdés,BIEDMA,2014,27.8,26,23,17.3,16.4,13.8,12.5,16.1,16.8,19.5,23.7,27.1,20.6
3,Estancia La Adela - Península Valdés,BIEDMA,2015,27.5,26.6,26.3,21,,14.3,,,15.4,17.3,,26,22.2
4,Estancia La Adela - Península Valdés,BIEDMA,2016,27.2,27.3,25.1,18.5,,,,,,,,27.8,25.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,Telsen,TELSEN,2010,33.2,29,27.4,22.2,18.3,12.9,11.5,15.3,19.3,24.2,27,31.3,22.6
515,Telsen,TELSEN,2011,32.4,32.1,27.9,22.8,19.4,14.4,13.6,13.9,20,22.7,28.9,33.4,23.4
516,Telsen,TELSEN,2012,33.5,29.6,27.5,21.4,18.4,13,13.4,17,21.2,23.9,28.4,26.8,22.9
517,Telsen,TELSEN,2013,33.3,27.3,22.9,24.4,17.7,15,12.3,14.2,16.9,25.4,29.4,33.7,22.7
518,Telsen,TELSEN,2014,33.3,31.2,28.1,,,,,,,,,,30.9

In [7]:
datos_tem_max_agrupados = datos_tem_max.groupby(by=['Departamento','Año']).mean().round(2)
datos_tem_max_agrupados

                   PROMEDIO_T_MAX
Departamento Año
BIEDMA       2012           18.10
             2013           19.90
             2014           20.60
             2015           22.20
             2016           25.20
...                           ...
TELSEN       2018           17.63
             2019           17.53
             2020           16.60
             2021           18.97
             2022           28.50

[248 rows x 1 columns]

Cargamos el dataset de temperatura media, lo agrupamos por dpto y año

In [8]:
datos_tem_med = pd.read_csv('datos_sipas/Agrupado_por_dptos/temperatura_media_estaciones.csv', sep=",")
datos_tem_med

,Estación,Departamento,Año,ENE,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEP,OCT,NOV,DIC,PROMEDIO_T_MED
0,Estancia La Adela - Península Valdés,BIEDMA,2012,,,,,,8.8,7.9,9.7,11.7,13.3,16.9,18.7,12.4
1,Estancia La Adela - Península Valdés,BIEDMA,2013,20.9,19.7,15.6,16,12.1,9.7,7.9,8.8,9.1,13.6,16.9,20.2,14.2
2,Estancia La Adela - Península Valdés,BIEDMA,2014,20.7,19.5,17.3,13,11.7,9.5,7.6,11,11.3,13.6,16.6,19.6,14.7
3,Estancia La Adela - Península Valdés,BIEDMA,2015,20.4,19.9,19.4,15.5,,10,,,9.5,11.1,,18.9,15.8
4,Estancia La Adela - Península Valdés,BIEDMA,2016,20.1,20.6,18.4,13.8,,,,,,,,20.1,18.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516,Telsen,TELSEN,2010,22.7,20,18.6,13.2,10.2,7.2,4.5,6.8,10.1,15.2,18.1,21.5,14.0
517,Telsen,TELSEN,2011,23.3,22.2,18.3,13.3,10.2,7,6.6,6.3,12,14.2,19.6,23.4,14.7
518,Telsen,TELSEN,2012,24.5,20,17.4,12,10.4,6,5.5,8.3,11,14.8,19.4,19.1,14.1
519,Telsen,TELSEN,2013,24.3,20.2,16.1,15.6,9.9,8.1,5.3,7.2,8.8,15.4,19,23.6,14.4
520,Telsen,TELSEN,2014,22.6,21,18.1,,,,,,,,,,20.5

In [9]:
datos_tem_med_agrupados = datos_tem_med.groupby(by=['Departamento','Año']).mean().round(2)
datos_tem_med_agrupados

                   PROMEDIO_T_MED
Departamento Año
BIEDMA       2012           12.40
             2013           14.20
             2014           14.70
             2015           15.80
             2016           18.60
...                           ...
TELSEN       2018           11.33
             2019           11.17
             2020           10.60
             2021           12.37
             2022           20.90

[250 rows x 1 columns]

Cargamos el dataset de temperatura mínima, lo agrupamos por dpto y año

In [10]:
datos_tem_min = pd.read_csv('datos_sipas/Agrupado_por_dptos/temperatura_minima_estaciones.csv', sep=",")
datos_tem_min

,Estación,Departamento,Año,ENE,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEP,OCT,NOV,DIC,PROMEDIO_T_MIN
0,Estancia La Adela - Península Valdés,BIEDMA,2012,,,,,,3.3,2.8,4.6,6,7.4,9.6,13.2,6.7
1,Estancia La Adela - Península Valdés,BIEDMA,2013,14.1,14.2,11.1,12.2,7.2,4.2,3.3,4.4,4.1,7.8,10.7,13.3,8.8
2,Estancia La Adela - Península Valdés,BIEDMA,2014,15,13.5,11.9,8.1,6.2,4.4,1.5,5.8,6.5,8.5,10.5,13.5,9.2
3,Estancia La Adela - Península Valdés,BIEDMA,2015,14.5,14,13.5,10.9,,5.1,,,3.9,5.3,,12.7,10.2
4,Estancia La Adela - Península Valdés,BIEDMA,2016,14.2,15.3,12.7,8.9,,,,,,,,13.3,12.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516,Telsen,TELSEN,2010,10.9,11,10.1,5.2,3.2,1.8,-1.7,-1.5,0.8,5.6,8,10.7,5.3
517,Telsen,TELSEN,2011,13,12.1,9.2,4.1,1.7,0.8,0,-0.4,4.5,5.1,9,11.5,5.8
518,Telsen,TELSEN,2012,14.9,10.3,7.6,3.2,3.1,-0.3,-2.4,0.8,1.8,5.3,9.1,11.3,5.4
519,Telsen,TELSEN,2013,14.1,13.2,9.6,7.7,3.4,1.4,-0.5,0.8,1.5,4.8,8.3,12.1,6.3
520,Telsen,TELSEN,2014,10.6,10.8,7.9,,,,,,,,,,9.7

In [11]:
datos_tem_min_agrupados = datos_tem_min.groupby(by=['Departamento','Año']).mean().round(2)
datos_tem_min_agrupados

                   PROMEDIO_T_MIN
Departamento Año
BIEDMA       2012            6.70
             2013            8.80
             2014            9.20
             2015           10.20
             2016           12.90
...                           ...
TELSEN       2018            5.03
             2019            4.83
             2020            4.63
             2021            5.90
             2022           13.05

[250 rows x 1 columns]

Lo siguiente es juntar todos los anteriores dataframes para armar el dataset

In [20]:
import functools

dfs = [datos_humedad_agrupados, 
       datos_lluvia_agrupados, 
       datos_tem_max_agrupados, 
       datos_tem_med_agrupados,
       datos_tem_min_agrupados]

df_final = functools.reduce(lambda left,right: pd.merge(left,right,left_index=True,right_index=True), dfs)
df_final

                   PROMEDIO_HUMEDAD  TOTAL_LLUVIA  PROMEDIO_T_MAX  \
Departamento Año
BIEDMA       2012             58.40          46.4           18.10
             2013             64.70         226.5           19.90
             2014             60.50         331.3           20.60
             2015             58.70         114.2           22.20
             2016             57.50          88.9           25.20
...                             ...           ...             ...
TELSEN       2018             47.93         604.2           17.63
             2019             47.57         358.4           17.53
             2020             46.63         304.4           16.60
             2021             47.03         608.9           18.97
             2022             37.15          58.7           28.50

                   PROMEDIO_T_MED  PROMEDIO_T_MIN
Departamento Año
BIEDMA       2012           12.40            6.70
             2013           14.20            8.80
             2014           14.70            9.20
             2015           15.80           10.20
             2016           18.60           12.90
...                           ...             ...
TELSEN       2018           11.33            5.03
             2019           11.17            4.83
             2020           10.60            4.63
             2021           12.37            5.90
             2022           20.90           13.05

[209 rows x 5 columns]

Reiniciamos los índices, renombramos las columnas y convertimos el año en tipo fecha para que nos sea más fácil unirlo con el dataset de producción.

In [21]:
datos_clima = df_final.reset_index()
datos_clima

,Departamento,Año,PROMEDIO_HUMEDAD,TOTAL_LLUVIA,PROMEDIO_T_MAX,PROMEDIO_T_MED,PROMEDIO_T_MIN
0,BIEDMA,2012,58.40,46.4,18.10,12.40,6.70
1,BIEDMA,2013,64.70,226.5,19.90,14.20,8.80
2,BIEDMA,2014,60.50,331.3,20.60,14.70,9.20
3,BIEDMA,2015,58.70,114.2,22.20,15.80,10.20
4,BIEDMA,2016,57.50,88.9,25.20,18.60,12.90
...,...,...,...,...,...,...,...
204,TELSEN,2018,47.93,604.2,17.63,11.33,5.03
205,TELSEN,2019,47.57,358.4,17.53,11.17,4.83
206,TELSEN,2020,46.63,304.4,16.60,10.60,4.63
207,TELSEN,2021,47.03,608.9,18.97,12.37,5.90
208,TELSEN,2022,37.15,58.7,28.50,20.90,13.05

In [22]:
datos_clima.columns = ['departamento', 'anio', 'PROMEDIO_HUMEDAD', 'TOTAL_LLUVIA',
       'PROMEDIO_T_MAX', 'PROMEDIO_T_MED', 'PROMEDIO_T_MIN']
datos_clima['anio'] = pd.to_datetime(datos_clima['anio'], format="%Y")
datos_clima

,departamento,anio,PROMEDIO_HUMEDAD,TOTAL_LLUVIA,PROMEDIO_T_MAX,PROMEDIO_T_MED,PROMEDIO_T_MIN
0,BIEDMA,2012-01-01,58.40,46.4,18.10,12.40,6.70
1,BIEDMA,2013-01-01,64.70,226.5,19.90,14.20,8.80
2,BIEDMA,2014-01-01,60.50,331.3,20.60,14.70,9.20
3,BIEDMA,2015-01-01,58.70,114.2,22.20,15.80,10.20
4,BIEDMA,2016-01-01,57.50,88.9,25.20,18.60,12.90
...,...,...,...,...,...,...,...
204,TELSEN,2018-01-01,47.93,604.2,17.63,11.33,5.03
205,TELSEN,2019-01-01,47.57,358.4,17.53,11.17,4.83
206,TELSEN,2020-01-01,46.63,304.4,16.60,10.60,4.63
207,TELSEN,2021-01-01,47.03,608.9,18.97,12.37,5.90
208,TELSEN,2022-01-01,37.15,58.7,28.50,20.90,13.05

In [23]:
datos_clima.to_csv('datos_producidos/clima_chubut.csv', index=False)