# 1.13 Relacionar dataset

Ahora es momento de relacionar los dataset, por lo tanto comenzemos cargando ambos

In [16]:
import pandas as pd
import random
pd.options.mode.chained_assignment = None

In [52]:
lana_sucia_chubut = pd.read_csv('datos_producidos/lana_chubut_2000-2022.csv', sep=",")
lana_sucia_chubut

           anio         departamento      kg_lana  finura  rinde
0    2000-01-01               BIEDMA    793900.00   20.39  59.21
1    2000-01-01             CUSHAMEN    892500.00   19.10  61.65
2    2000-01-01            ESCALANTE   1086300.00   21.90  49.99
3    2000-01-01  FLORENTINO AMEGHINO   1463700.00   19.61  60.32
4    2000-01-01            FUTALEUFU    557600.00   20.57  63.37
..          ...                  ...          ...     ...    ...
363  2022-01-01         RIO SENGUERR   1977589.41   19.72  58.07
364  2022-01-01            SARMIENTO    728889.55   20.94  49.20
365  2022-01-01           TEHUELCHES   1628738.94   18.47  60.56
366  2022-01-01               TELSEN    525585.97   19.11  55.35
367  2022-01-01                TOTAL  11551340.00   21.82  58.79

[368 rows x 5 columns]

In [3]:
existencias_chubut = pd.read_csv('datos_producidos/existencias_chubut_2008_2020_SENASA.csv', sep=",")
existencias_chubut

,anio,provincia,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos,departamento
0,2008,CHUBUT,7686,121561,58576,69633,33876,291332,BIEDMA
1,2008,CHUBUT,8180,149189,41669,51128,37589,287755,CUSHAMEN
2,2008,CHUBUT,7863,109225,35581,40786,41516,234971,ESCALANTE
3,2008,CHUBUT,13875,164382,79863,63856,48809,370785,FLORENTINO AMEGHINO
4,2008,CHUBUT,5639,90494,30119,24634,28237,179123,FUTALEUFU
...,...,...,...,...,...,...,...,...,...
203,2020,CHUBUT,15609,360905,146961,123560,112227,759262,RIO SENGUERR
204,2020,CHUBUT,3681,99173,27021,32939,20498,183312,SARMIENTO
205,2020,CHUBUT,8071,197382,87268,86893,54493,434107,TEHUELCHES
206,2020,CHUBUT,2870,79157,25804,36901,18984,163716,TELSEN
207,2020,CHUBUT,79860,1992008,669777,666432,576856,3984933,TOTAL

Se va a transformar las columnas que representan datos de tiempo a datos de tipo fecha

In [56]:
lana_sucia_chubut['anio'] = pd.to_datetime(lana_sucia_chubut['anio'], format="%Y-%m-%d")
lana_sucia_chubut

          anio         departamento      kg_lana  finura  rinde
0   2000-01-01               BIEDMA    793900.00   20.39  59.21
1   2000-01-01             CUSHAMEN    892500.00   19.10  61.65
2   2000-01-01            ESCALANTE   1086300.00   21.90  49.99
3   2000-01-01  FLORENTINO AMEGHINO   1463700.00   19.61  60.32
4   2000-01-01            FUTALEUFU    557600.00   20.57  63.37
..         ...                  ...          ...     ...    ...
363 2022-01-01         RIO SENGUERR   1977589.41   19.72  58.07
364 2022-01-01            SARMIENTO    728889.55   20.94  49.20
365 2022-01-01           TEHUELCHES   1628738.94   18.47  60.56
366 2022-01-01               TELSEN    525585.97   19.11  55.35
367 2022-01-01                TOTAL  11551340.00   21.82  58.79

[368 rows x 5 columns]

In [9]:
existencias_chubut['anio'] = pd.to_datetime(existencias_chubut['anio'], format="%Y")
existencias_chubut

,anio,provincia,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos,departamento
0,2008-01-01,CHUBUT,7686,121561,58576,69633,33876,291332,BIEDMA
1,2008-01-01,CHUBUT,8180,149189,41669,51128,37589,287755,CUSHAMEN
2,2008-01-01,CHUBUT,7863,109225,35581,40786,41516,234971,ESCALANTE
3,2008-01-01,CHUBUT,13875,164382,79863,63856,48809,370785,FLORENTINO AMEGHINO
4,2008-01-01,CHUBUT,5639,90494,30119,24634,28237,179123,FUTALEUFU
...,...,...,...,...,...,...,...,...,...
203,2020-01-01,CHUBUT,15609,360905,146961,123560,112227,759262,RIO SENGUERR
204,2020-01-01,CHUBUT,3681,99173,27021,32939,20498,183312,SARMIENTO
205,2020-01-01,CHUBUT,8071,197382,87268,86893,54493,434107,TEHUELCHES
206,2020-01-01,CHUBUT,2870,79157,25804,36901,18984,163716,TELSEN
207,2020-01-01,CHUBUT,79860,1992008,669777,666432,576856,3984933,TOTAL

Se van a juntar los dos dataset

In [10]:
merged_inner = pd.merge(left=existencias_chubut,right=lana_sucia_chubut)
merged_inner

,anio,provincia,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos,departamento,kg_lana
0,2008-01-01,CHUBUT,7686,121561,58576,69633,33876,291332,BIEDMA,1008720.0
1,2008-01-01,CHUBUT,8180,149189,41669,51128,37589,287755,CUSHAMEN,1134000.0
2,2008-01-01,CHUBUT,7863,109225,35581,40786,41516,234971,ESCALANTE,1380240.0
3,2008-01-01,CHUBUT,13875,164382,79863,63856,48809,370785,FLORENTINO AMEGHINO,1859760.0
4,2008-01-01,CHUBUT,5639,90494,30119,24634,28237,179123,FUTALEUFU,708480.0
...,...,...,...,...,...,...,...,...,...,...
203,2020-01-01,CHUBUT,15609,360905,146961,123560,112227,759262,RIO SENGUERR,2311200.0
204,2020-01-01,CHUBUT,3681,99173,27021,32939,20498,183312,SARMIENTO,851850.0
205,2020-01-01,CHUBUT,8071,197382,87268,86893,54493,434107,TEHUELCHES,1903500.0
206,2020-01-01,CHUBUT,2870,79157,25804,36901,18984,163716,TELSEN,614250.0
207,2020-01-01,CHUBUT,79860,1992008,669777,666432,576856,3984933,TOTAL,13500000.0

En este punto nos parece una pena desperdiciar 8 aÃ±os de datos laneros, por lo tanto se van a tomar las existencias desde el aÃ±o 2000 al 2007 del dataset que posee datos de las existencias ovinas de Chubut desde el aÃ±o 1965 al 2017.

Observamos el contenido del dataset de existencias 1965-2017

In [4]:
existencias_chubut_1 = pd.read_csv('datos_producidos/existencias_chubut_1965-2017.csv', sep=",")
existencias_chubut_1

,provincia,desde_aÃ±o,hasta_aÃ±o,cantidad,fuente
0,Chubut,1965,1965,5736.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
1,Chubut,1966,1966,5789.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
2,Chubut,1967,1967,5841.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
3,Chubut,1968,1968,5894.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
4,Chubut,1969,1970,5947.0,Censos INDEC
5,Chubut,1971,1971,5887.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
6,Chubut,1972,1972,5826.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
7,Chubut,1973,1973,5766.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
8,Chubut,1974,1975,5705.0,Censos INDEC
9,Chubut,1976,1976,6063.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
10,Chubut,1977,1978,6421.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
11,Chubut,1979,1979,6287.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
12,Chubut,1980,1980,6153.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
13,Chubut,1981,1981,6020.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
14,Chubut,1982,1982,5886.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
15,Chubut,1983,1983,5752.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
16,Chubut,1984,1984,5618.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
17,Chubut,1985,1985,5484.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
18,Chubut,1986,1986,5351.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
19,Chubut,1987,1987,5217.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
20,Chubut,1988,1988,5083.0,Censos INDEC
21,Chubut,1989,1989,5034.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
22,Chubut,1990,1990,4986.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
23,Chubut,1991,1991,4937.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
24,Chubut,1992,1992,4889.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
25,Chubut,1993,1993,4840.0,Encuesta Nacional Agropecuaria 93- 94- 95 y 01...
26,Chubut,1994,1994,4647.0,Encuesta Nacional Agropecuaria 93- 94- 95 y 01...
27,Chubut,1995,1995,4031.0,Encuesta Nacional Agropecuaria 93- 94- 95 y 01...
28,Chubut,1996,1996,4044.0,Encuesta Nacional Agropecuaria 93- 94- 95 y 01...
29,Chubut,1997,1997,3222.0,Encuesta Nacional Agropecuaria 93- 94- 95 y 01...
30,Chubut,1998,1998,3650.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
31,Chubut,1999,1999,4078.0,Encuesta Nacional Agropecuaria 93- 94- 95 y 01...
32,Chubut,2000,2000,4017.0,Encuesta Nacional Agropecuaria 93- 94- 95 y 01...
33,Chubut,2001,2001,3944.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
34,Chubut,2002,2002,3871.0,Censos INDEC
35,Chubut,2003,2003,4118.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA matema...
36,Chubut,2004,2004,4365.0,EstimaciÃ³n Dto. Ovinos y Lanas - SAGPyA en bas...
37,Chubut,2005,2005,4456.0,SIGSA - DirecciÃ³n de Control de GestiÃ³n y Prog...
38,Chubut,2006,2006,4548.0,SIGSA - DirecciÃ³n de Control de GestiÃ³n y Prog...
39,Chubut,2007,2007,4640.0,SIGSA - DirecciÃ³n de Control de GestiÃ³n y Prog...
40,Chubut,2008,2008,4879.0,SIGSA - DirecciÃ³n de Control de GestiÃ³n y Prog...
41,Chubut,2009,2009,4742.0,SIGSA - DirecciÃ³n de Control de GestiÃ³n y Prog...
42,Chubut,2010,2010,4603.0,SIGSA - DirecciÃ³n de Control de GestiÃ³n y Prog...
43,Chubut,2011,2011,4439.0,SIGSA - DirecciÃ³n de Control de GestiÃ³n y Prog...
44,Chubut,2012,2012,4163.0,SIGSA - DirecciÃ³n de Control de GestiÃ³n y Prog...
45,Chubut,2013,2013,4032.0,SIGSA - DirecciÃ³n de Control de GestiÃ³n y Prog...
46,Chubut,2014,2014,4024.0,SIGSA - DirecciÃ³n de Control de GestiÃ³n y Prog...
47,Chubut,2015,2015,3994.0,SIGSA - DirecciÃ³n de Control de GestiÃ³n y Prog...
48,Chubut,2016,2016,4002.0,SIGSA - DirecciÃ³n de Control de GestiÃ³n y Prog...
49,Chubut,2017,2017,3973.0,SIGSA - DirecciÃ³n de Control de GestiÃ³n y Prog...

In [5]:
existencias_chubut_1.columns

Index(['provincia', 'desde_aÃ±o', 'hasta_aÃ±o', 'cantidad', 'fuente'], dtype='object')

Eliminamos las columnas que no necesitamos, transformamos la del tiempo en el tipo de dato datetime, seleccionamos la columna de tiempo como indice y luego filtramos para quedarnos con los datos del 2000-2007.

In [6]:
existencias_chubut_1.drop(['provincia', 'hasta_aÃ±o', 'fuente'], axis = 'columns', inplace=True)
existencias_chubut_1['desde_aÃ±o'] = pd.to_datetime(existencias_chubut_1['desde_aÃ±o'], format="%Y").dt.normalize()
existencias_chubut_1 = existencias_chubut_1.set_index(['desde_aÃ±o'])
existencias_chubut_filtrada=existencias_chubut_1.loc['2000-01-01':'2007-01-01']
existencias_chubut_filtrada

            cantidad
desde_aÃ±o
2000-01-01    4017.0
2001-01-01    3944.0
2002-01-01    3871.0
2003-01-01    4118.0
2004-01-01    4365.0
2005-01-01    4456.0
2006-01-01    4548.0
2007-01-01    4640.0

Se transformaron los datos de la cantidad de toneladas a kilogramos.

In [7]:
existencias_chubut_filtrada['cantidad'] = existencias_chubut_filtrada['cantidad'].apply(lambda x : x * 1000)
existencias_chubut_filtrada

             cantidad
desde_aÃ±o
2000-01-01  4017000.0
2001-01-01  3944000.0
2002-01-01  3871000.0
2003-01-01  4118000.0
2004-01-01  4365000.0
2005-01-01  4456000.0
2006-01-01  4548000.0
2007-01-01  4640000.0

Para poder completar bien la filas faltantes seria interesante saber el porcentaje de corderos, carneros, ovejas, etc, que cada departamento tenia en base a su total de ovinos cada aÃ±o.

Entonces utilizamos el dataset de existencias de SENASA para obtener los totales anuales.

In [8]:
existencias_anuales = existencias_chubut[existencias_chubut.departamento.eq('TOTAL')]
existencias_anuales

,anio,provincia,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos,departamento
15,2008,CHUBUT,135075,2160564,885807,931734,766298,4879478,TOTAL
31,2009,CHUBUT,135414,2182913,857329,888470,678003,4742129,TOTAL
47,2010,CHUBUT,131249,2202419,777797,879509,612109,4603083,TOTAL
63,2011,CHUBUT,132272,2119111,762246,844921,580441,4438991,TOTAL
79,2012,CHUBUT,126443,1998999,689806,792843,555331,4163422,TOTAL
95,2013,CHUBUT,133292,1967599,649453,725939,555396,4031679,TOTAL
111,2014,CHUBUT,128053,1941873,643744,701889,608489,4024048,TOTAL
127,2015,CHUBUT,131095,1939450,637096,694326,600189,4002156,TOTAL
143,2016,CHUBUT,130635,1947672,658063,703023,554340,3993733,TOTAL
159,2017,CHUBUT,124046,1917298,652423,672122,606862,3972751,TOTAL
175,2018,CHUBUT,120807,1929004,643675,656187,595247,3944920,TOTAL
191,2019,CHUBUT,127625,1996422,681206,673858,597226,4076337,TOTAL
207,2020,CHUBUT,79860,1992008,669777,666432,576856,3984933,TOTAL

In [9]:
totales_chubut = []
for i in existencias_anuales.index:
    totales_chubut.append(
        {'anio': existencias_anuales["anio"][i], 
         'total_ovinos': existencias_anuales["total_ovinos"][i]})

totales_chubut

[{'anio': 2008, 'total_ovinos': 4879478},
 {'anio': 2009, 'total_ovinos': 4742129},
 {'anio': 2010, 'total_ovinos': 4603083},
 {'anio': 2011, 'total_ovinos': 4438991},
 {'anio': 2012, 'total_ovinos': 4163422},
 {'anio': 2013, 'total_ovinos': 4031679},
 {'anio': 2014, 'total_ovinos': 4024048},
 {'anio': 2015, 'total_ovinos': 4002156},
 {'anio': 2016, 'total_ovinos': 3993733},
 {'anio': 2017, 'total_ovinos': 3972751},
 {'anio': 2018, 'total_ovinos': 3944920},
 {'anio': 2019, 'total_ovinos': 4076337},
 {'anio': 2020, 'total_ovinos': 3984933}]

Lo siguiente es recorrer todos los departamentos de chubut y por cada departamento recorrer los totales que obtuvimos antes, luego en base al total de ovinos de departamento (total_ovinos) calculamos el porcentaje de corderos, carneros, etc, y por ultimo en base al total de ovinos de chubut calculamos el porcentaje de ovinos que representa eso para el departamento. De esta manera obtenemos un dataset de porcentajes de Chubut.

In [10]:
departamentos_chubut = ["BIEDMA", "CUSHAMEN", "ESCALANTE", "FLORENTINO AMEGHINO", "FUTALEUFU", "GAIMAN", "GASTRE",
                        "LANGUIÃ‘EO", "MARTIRES", "PASO DE INDIOS", "RAWSON", "RIO SENGUERR",
                        "SARMIENTO", "TEHUELCHES", "TELSEN"]

In [11]:
columnas = ['anio', 'provincia', 'departamento', 'carneros', 'ovejas', 'borregos', 'capones',
            'corderos_corderas', 'total_ovinos']

In [12]:
def calcular_porcentaje(valor, total):
    return round(valor*100/total, 2)

def calcular_promedio(columna):
    return round(columna.mean)

In [13]:
porcentajes_dpto = []

for dpto in departamentos_chubut:
    datos_dpto = existencias_chubut[existencias_chubut.departamento.eq(dpto)]
    for total in totales_chubut:
        datos_dpto_anio = datos_dpto[datos_dpto.anio.eq(total['anio'])]
        total_ovinos = datos_dpto_anio.iloc[0]['total_ovinos']
        datos = datos_dpto_anio.iloc[0]
        porcentaje_carneros = calcular_porcentaje(
            datos['carneros'], total_ovinos)
        porcentaje_ovejas = calcular_porcentaje(datos['ovejas'], total_ovinos)
        porcentaje_borregos = calcular_porcentaje(
            datos['borregos'], total_ovinos)
        porcentaje_capones = calcular_porcentaje(
            datos['capones'], total_ovinos)
        porcentaje_corderos_corderas = calcular_porcentaje(
            datos['corderos_corderas'], total_ovinos)
        porcentaje_total = calcular_porcentaje(
            datos['total_ovinos'], total['total_ovinos'])
        datos_porcentaje = [datos['anio'],
                            datos['provincia'],
                            datos['departamento'],
                            porcentaje_carneros,
                            porcentaje_ovejas,
                            porcentaje_borregos,
                            porcentaje_capones,
                            porcentaje_corderos_corderas,
                            porcentaje_total
                            ]
        porcentajes_dpto.append(datos_porcentaje)

chubut_porcentajes = pd.DataFrame(porcentajes_dpto, columns=columnas)
chubut_porcentajes

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos
0,2008,CHUBUT,BIEDMA,2.64,41.73,20.11,23.90,11.63,5.97
1,2009,CHUBUT,BIEDMA,2.94,43.91,20.44,24.06,8.65,5.73
2,2010,CHUBUT,BIEDMA,2.80,45.79,16.07,25.64,9.71,5.24
3,2011,CHUBUT,BIEDMA,2.91,45.11,16.85,25.06,10.07,4.88
4,2012,CHUBUT,BIEDMA,2.98,48.17,15.56,24.99,8.29,4.66
...,...,...,...,...,...,...,...,...,...
190,2016,CHUBUT,TELSEN,2.86,46.89,15.47,22.93,11.85,4.29
191,2017,CHUBUT,TELSEN,2.83,47.34,16.66,22.32,10.84,4.12
192,2018,CHUBUT,TELSEN,2.81,46.05,16.51,21.86,12.77,4.36
193,2019,CHUBUT,TELSEN,2.83,47.36,16.81,22.53,10.48,4.15
194,2020,CHUBUT,TELSEN,1.75,48.35,15.76,22.54,11.60,4.11

In [48]:
chubut_porcentajes.to_csv('datos_producidos/chubut_porcentajes.csv', index=False)

Para poder generar los valores faltantes de manera aleatoria pero con cierta "estructura" es necesario obtener las medidas estadisticas de los porcentajes anteriores.

In [14]:
def generar_valores_normales(media, desvio):
    valores = []
    for i in range(1,9):
        valores.append(round(random.normalvariate(media_dpto, desvio_dpto),2)) 
    return valores

In [17]:
columnas=['departamento', 'dato', 'media', 'desvio_estandar','min', 'max', 'valor_normal_random']
columnas_numericas = ['carneros', 'ovejas', 'borregos', 'capones','corderos_corderas', 'total_ovinos']
promedios_dptos = []

for dpto in departamentos_chubut:
    for columna in columnas_numericas:
        datos_dpto = chubut_porcentajes[chubut_porcentajes.departamento.eq(dpto)]
        media_dpto = round(datos_dpto[columna].mean(),2)
        desvio_dpto = round(datos_dpto[columna].std(),2)
        min_dpto = datos_dpto[columna].min()
        max_dpto = datos_dpto[columna].max()
        valor_normal = generar_valores_normales(media_dpto, desvio_dpto)
        promedios_dptos.append([dpto,columna,media_dpto, desvio_dpto, min_dpto, max_dpto, valor_normal])
chubut_metricas = pd.DataFrame(promedios_dptos, columns=columnas)
chubut_metricas

,departamento,dato,media,desvio_estandar,min,max,valor_normal_random
0,BIEDMA,carneros,2.64,0.32,1.77,2.98,"[2.2, 2.07, 3.18, 2.64, 2.87, 2.87, 2.5, 2.91]"
1,BIEDMA,ovejas,46.08,1.97,41.73,48.47,"[48.03, 46.51, 43.87, 45.15, 48.17, 49.4, 46.7..."
2,BIEDMA,borregos,17.41,2.12,13.49,20.44,"[18.91, 15.87, 23.51, 17.83, 17.11, 16.06, 16...."
3,BIEDMA,capones,21.57,3.19,17.31,25.64,"[19.48, 21.17, 22.2, 21.2, 19.1, 23.97, 16.87,..."
4,BIEDMA,corderos_corderas,12.29,2.74,8.29,16.92,"[14.75, 11.79, 14.1, 14.76, 11.24, 13.95, 14.2..."
...,...,...,...,...,...,...,...
85,TELSEN,ovejas,47.24,1.42,43.76,49.50,"[44.65, 47.42, 48.8, 47.08, 46.62, 47.13, 45.3..."
86,TELSEN,borregos,15.41,1.91,12.57,19.31,"[14.04, 16.07, 11.78, 16.46, 10.1, 15.17, 14.7..."
87,TELSEN,capones,25.02,2.42,21.86,28.90,"[26.97, 24.36, 23.82, 26.74, 25.75, 23.43, 26...."
88,TELSEN,corderos_corderas,9.68,2.19,6.58,12.77,"[6.92, 11.71, 8.6, 9.55, 6.08, 7.08, 9.29, 8.57]"
89,TELSEN,total_ovinos,5.15,1.29,4.11,8.15,"[3.47, 3.63, 4.0, 5.89, 7.89, 4.09, 6.27, 5.87]"

In [67]:
chubut_metricas.to_csv('datos_producidos/chubut_metricas.csv', index=False)

Obviamente al usar valores aleatorios la suma de los porcentajes generados no da siempre 100, por lo tanto es necesario hacer un ajuste. Veamos el ejemplo con uno de los datos. Primero obtengamos los datos del total de ovinos de cada departamento.

In [18]:
total_ovinos_dpto = chubut_metricas.loc[chubut_metricas.loc[:, 'dato'] == 'total_ovinos']
total_ovinos_dpto

,departamento,dato,media,desvio_estandar,min,max,valor_normal_random
5,BIEDMA,total_ovinos,4.82,0.52,4.37,5.97,"[4.89, 5.79, 5.04, 4.66, 3.63, 5.24, 5.77, 4.37]"
11,CUSHAMEN,total_ovinos,5.61,0.29,5.13,6.13,"[6.28, 5.99, 5.35, 5.52, 5.87, 5.74, 5.46, 5.49]"
17,ESCALANTE,total_ovinos,4.91,0.21,4.68,5.32,"[5.12, 5.01, 5.08, 4.67, 5.13, 4.99, 4.7, 5.59]"
23,FLORENTINO AMEGHINO,total_ovinos,7.61,0.40,7.01,8.25,"[6.88, 7.89, 7.06, 7.99, 7.04, 6.44, 7.7, 7.11]"
29,FUTALEUFU,total_ovinos,3.68,0.49,2.89,4.33,"[3.54, 3.69, 4.15, 3.04, 3.99, 3.29, 4.47, 3.89]"
35,GAIMAN,total_ovinos,6.25,1.27,4.36,8.00,"[5.58, 6.08, 6.56, 5.3, 7.46, 6.79, 6.37, 7.09]"
41,GASTRE,total_ovinos,6.05,0.49,5.36,6.84,"[7.01, 5.6, 7.08, 6.57, 6.14, 7.16, 5.03, 6.19]"
47,LANGUIÃ‘EO,total_ovinos,6.62,0.93,5.44,8.31,"[6.53, 7.72, 6.99, 7.21, 4.78, 6.21, 6.98, 7.52]"
53,MARTIRES,total_ovinos,4.11,0.22,3.71,4.55,"[4.28, 4.27, 4.2, 3.91, 3.79, 3.93, 4.08, 4.19]"
59,PASO DE INDIOS,total_ovinos,6.98,0.38,6.51,7.67,"[6.77, 7.32, 6.76, 6.73, 6.86, 7.0, 6.89, 7.25]"
65,RAWSON,total_ovinos,2.87,0.48,2.06,3.41,"[3.03, 2.94, 3.23, 2.78, 3.5, 2.86, 3.02, 2.83]"
71,RIO SENGUERR,total_ovinos,18.81,1.67,15.36,20.69,"[18.45, 19.62, 19.22, 17.46, 21.19, 18.6, 18.0..."
77,SARMIENTO,total_ovinos,4.85,0.30,4.43,5.38,"[5.29, 4.66, 5.21, 4.89, 4.81, 4.52, 5.18, 4.63]"
83,TEHUELCHES,total_ovinos,11.67,0.50,10.89,12.50,"[11.48, 11.16, 11.63, 11.6, 12.31, 11.51, 12.1..."
89,TELSEN,total_ovinos,5.15,1.29,4.11,8.15,"[3.47, 3.63, 4.0, 5.89, 7.89, 4.09, 6.27, 5.87]"

Ahora agrupamos los datos por aÃ±o

In [42]:
anio_2000 = []
anio_2001 = []
anio_2002 = []
anio_2003 = []
anio_2004 = []
anio_2005 = []
anio_2006 = []
anio_2007 = []
anios = []

for valor_normal in total_ovinos_dpto['valor_normal_random']:
    anio_2000.append(valor_normal[0])
    anio_2001.append(valor_normal[1])
    anio_2002.append(valor_normal[2])
    anio_2003.append(valor_normal[3])
    anio_2004.append(valor_normal[4])
    anio_2005.append(valor_normal[5])
    anio_2006.append(valor_normal[6])
    anio_2007.append(valor_normal[7])

Y miramos el ajuste del aÃ±o 2001

In [44]:
suma = round(sum(anio_2001),2)
print("Antes del ajuste", suma)
resto=0
if suma>100:
    resto = suma - 100
elif suma<100:
    resto = -(100 - suma)
ajuste = round(resto / 15, 4)
anio_2001_ajustado = list(map(lambda x: round(x - ajuste,2), anio_2001))
suma = round(sum(anio_2001_ajustado),0)
print("Despues del ajuste", suma)

Antes del ajuste 101.37
Despues del ajuste 100.0

De esta manera se fue realizando el ajuste, pero a partir de acÃ¡ se trabajo el dataset de manera manual con Excel y se obtuvo lo siguiente:

In [50]:
existencias_chubut_2 = pd.read_csv('datos_producidos/existencias_chubut_2000_2007.csv', sep=",")
existencias_chubut_2

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos
0,2000,CHUBUT,BIEDMA,4627,88905,31529,41328,22410,188799
1,2000,CHUBUT,CUSHAMEN,5483,112188,32417,25337,34665,210089
2,2000,CHUBUT,ESCALANTE,5115,99373,30290,39530,36183,210491
3,2000,CHUBUT,FLORENTINO AMEGHINO,11162,146253,58737,45221,40304,301677
4,2000,CHUBUT,FUTALEUFU,4342,69056,20947,14924,18069,127339
...,...,...,...,...,...,...,...,...,...
123,2007,CHUBUT,RIO SENGUERR,24501,428453,140769,142907,154311,890940
124,2007,CHUBUT,SARMIENTO,6357,107240,30052,39893,27644,211185
125,2007,CHUBUT,TEHUELCHES,12118,213731,95550,102023,94462,517884
126,2007,CHUBUT,TELSEN,5281,92040,29246,54972,18504,200044
127,2007,CHUBUT,TOTAL,119166,2254183,763187,824700,678761,4639997

Ahora vamos a combinar los dos dataset de existencias, concatenandolos.

In [55]:
concat_existencias = pd.concat([existencias_chubut_2,existencias_chubut], sort=False)
concat_existencias['anio'] = pd.to_datetime(concat_existencias['anio'], format="%Y")
concat_existencias

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos
0,2000-01-01,CHUBUT,BIEDMA,4627,88905,31529,41328,22410,188799
1,2000-01-01,CHUBUT,CUSHAMEN,5483,112188,32417,25337,34665,210089
2,2000-01-01,CHUBUT,ESCALANTE,5115,99373,30290,39530,36183,210491
3,2000-01-01,CHUBUT,FLORENTINO AMEGHINO,11162,146253,58737,45221,40304,301677
4,2000-01-01,CHUBUT,FUTALEUFU,4342,69056,20947,14924,18069,127339
...,...,...,...,...,...,...,...,...,...
203,2020-01-01,CHUBUT,RIO SENGUERR,15609,360905,146961,123560,112227,759262
204,2020-01-01,CHUBUT,SARMIENTO,3681,99173,27021,32939,20498,183312
205,2020-01-01,CHUBUT,TEHUELCHES,8071,197382,87268,86893,54493,434107
206,2020-01-01,CHUBUT,TELSEN,2870,79157,25804,36901,18984,163716
207,2020-01-01,CHUBUT,TOTAL,79860,1992008,669777,666432,576856,3984933

Finalmente vamos a combinar los dos dataset, para obtener la produccion de chubut durante 20 aÃ±os

In [57]:
produccion_chubut = pd.merge(left=concat_existencias,right=lana_sucia_chubut)
produccion_chubut

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos,kg_lana,finura,rinde
0,2000-01-01,CHUBUT,BIEDMA,4627,88905,31529,41328,22410,188799,793900.0,20.39,59.21
1,2000-01-01,CHUBUT,CUSHAMEN,5483,112188,32417,25337,34665,210089,892500.0,19.10,61.65
2,2000-01-01,CHUBUT,ESCALANTE,5115,99373,30290,39530,36183,210491,1086300.0,21.90,49.99
3,2000-01-01,CHUBUT,FLORENTINO AMEGHINO,11162,146253,58737,45221,40304,301677,1463700.0,19.61,60.32
4,2000-01-01,CHUBUT,FUTALEUFU,4342,69056,20947,14924,18069,127339,557600.0,20.57,63.37
...,...,...,...,...,...,...,...,...,...,...,...,...
331,2020-01-01,CHUBUT,RIO SENGUERR,15609,360905,146961,123560,112227,759262,2311200.0,20.28,57.70
332,2020-01-01,CHUBUT,SARMIENTO,3681,99173,27021,32939,20498,183312,851850.0,19.37,48.32
333,2020-01-01,CHUBUT,TEHUELCHES,8071,197382,87268,86893,54493,434107,1903500.0,20.02,61.85
334,2020-01-01,CHUBUT,TELSEN,2870,79157,25804,36901,18984,163716,614250.0,21.55,52.96
335,2020-01-01,CHUBUT,TOTAL,79860,1992008,669777,666432,576856,3984933,13500000.0,20.36,56.57

In [58]:
produccion_chubut.to_csv('datos_producidos/produccion_chubut_2000_2020.csv', index=False)